{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/code_block.css' %}">
{% endblock %}

<div>
    {{ code }}
</div>
<div class="d-flex flex-row align-items-center">
    <p class="text-muted my-2">{{ caption }}</p>
</div>