.blog-header {
  position: relative;
  z-index: auto;

  font-size: 3em;
}

.gallery-image-container {
  padding: 5px;
}

.gallery-image-caption {
  font-family: Lora-Italic;
}

#id_honeypot {
  display: none;
}

label[for="id_honeypot"] {
  display: none;
}

#id_url {
  display: none;
}

.comment {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
