{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="overview-container mb-3">
    <div class="container mb-3">
        <div class="row pt-3">
            <div class="col-md-3 col-12 portrait-container">
                <img src="{% static "assets/portrait-no-background.png" %}"  height="600"/>
            </div>
            <div class="col-12">
                <div class="card overview-card">
                    <div class="card-body">
                        <h1 class="card-title header text-left my-1">Kyle Kaniecki</h1>
                        <h5 class="card-subtitle mb-5 text-muted">2020 Software Engineering Graduate seeking full-time employment</h5>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h6 class="text-muted">
                                    Overview
                                </h6>
                                <p class="mb-5">
                                    {{ page.overview }}
                                </p>
                                <h6 class="text-muted">
                                    Skills
                                </h6>
                                <div class="d-flex flex-row flex-wrap align-items-center">
                                    {% for skill in kaniecki_skills %}
                                        <div class="tag">
                                            <a href="/search?query={{skill|urlencode}}">
                                                <i class="fas fa-tag mr-1"></i>
                                                {{ skill }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <h3>Recent Blog Posts</h3>
    <hr />
    <div class="row">
        {% for post in recent_blog_posts %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                {% include 'blog/blog_card.html' with blog=post %}
            </div>
            {% empty %}
            <div class="col-12">
                <h5>No recent blog posts at this time</h5>
            </div>
        {% endfor %}
        
    </div>
</div>



{% endblock content %}
