.overview-container {
  /* background-color: teal; */
  background: rgb(0, 128, 128);
  background: linear-gradient(
    180deg,
    rgba(0, 128, 128, 1) 0%,
    rgba(0, 160, 160, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );

  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.portrait-container {
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 1;
}

.overview-card {
  box-shadow: 0px 5px 8px 0px #444444;
}

@media (max-width: 576px) {
  .portrait-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: unset;
    right: unset;
    align-self: flex-start;
    margin-bottom: -200px;
    z-index: 0;
  }

  .overview-card {
    z-index: 1;
  }
}
