{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_card.css' %}">
{% endblock %}


<div class="card">
    {% with blog.preview_image as main_image %}
        {% if main_image %}
            {% image main_image original as card_image %}
            <img src="{{card_image.url}}" class="card-img-top" />
        {% endif %}
    {% endwith %}
    
    <div class="card-body">
        <h2 class="card-title">{{ blog.title }}</h2>
        <p class="card-text">{{ blog.intro }}</p>
        <p class="card-text">
            <i class="fas fa-calendar mr-2"></i>
            {{ blog.date }}
        </p>
        <div class="d-flex flex-row flex-wrap">
            {% for category in blog.categories.all %}
                <a href="/blog?category={{ category|urlencode }}" class="tag-link">
                    <div class="tag">
                        <i class="fas fa-tag mr-1 d-flex align-items-center justify-content-center"></i>
                        {{ category }}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div>
            <a class="btn button-primary" href="{% pageurl blog %}">Read More</a>
        </div>
    </div>
</div>