{% extends "base.html" %}

{% load wagtailcore_tags  wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container-fluid align-items-center">
        <h1 class="header alysa-font">{{ page.title }}</h1>
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{% pageurl page %}?page={{current_page|add:"-1"}}" tabindex="-1">Previous</a>
                    </li>
                    {% if current_page|add:"-1" > 0 %}
                        <li class="page-item">
                            <a class="page-link" href="#">
                                {{ current_page|add:"-1" }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="{% pageurl page %}?page={{current_page}}">
                            {{current_page}}
                        </a>
                    </li>
                    {% if current_page|add:1 < max_page_index %}
                        <li class="page-item">
                            <a class="page-link" href="#">
                                {{ current_page|add:1 }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item {% if current_page == max_page_index %}disabled{% endif %}">
                        <a class="page-link" href="{% pageurl page %}?page={{current_page|add:1}}">Next</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                {% for post in blog_entries %}
                    {% with post=post.specific %}
                        <div class="col-md-4 col-sm-6 col-xs-12 mb-2">
                            {% include 'blog/blog_card.html' with blog=post %}
                        </div>
                    {% endwith %}
                    {% empty %}
                    <h3 class="w-100" align="center">No blog posts at this time. Check back soon!</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}