{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static comments %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_page.css' %}">
{% endblock %}

{% block content %}
<div class="container align-items-center">

    <h1 class="header">{{page.title}}</h1>

    <p class="text-muted mb-2">{{page.date}}</p>
    <p class="text-muted mt-2">{{page.author}}</p>
    <div class="row">
        <div class="col-12 d-flex flex-row flex-wrap">
            {% for category in page.categories.all %}
                <a href="/blog?category={{ category }}" class="tag-link">
                    <div class="tag loraitalic-font">
                        <i class="fas fa-tag mr-1 d-flex align-items-center justify-content-center"></i>
                        {{ category }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


    {% with blocks=self.body %}
        {% for block in blocks %}
                {%if block.block_type == 'image'%}
                    <div class="row">
                        <div class="col-12">
                            {% image block.value width-800 as photo %}
                            <img src="{{photo.url}}" height="auto" width="100%" style="padding-top: 15px; padding-bottom: 15px"/>
                        </div>
                    </div>
                {% else %}
                    <section class="block-{{ block.block_type }} pt-3 pb-3">
                        {{ block }}
                    </section>
                {% endif %}
        {% endfor %}
    {% endwith %}

    {% if page.tags.all.count %}
        <div class="row my-5">
            <div class="col-12 d-flex flex-row flex-wrap">
                {% for tag in page.tags.all %}
                    <a href="/blog?tag={{ tag }}" class="tag-link">
                        <div class="tag loraitalic-font">
                            <i class="fas fa-tag mr-1 d-flex align-items-center justify-content-center"></i>
                            {{ tag }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <hr style="margin: 0 -15px"/>
    
    <div class="row my-3">
        <div class="col-12">
            <h1 class="header">comments</h1>
        </div>
        <div class="col-12 comment">
            {% get_comment_form for page as form %}
            <form action="{% comment_form_target %}" method="post" novalidate class="needs-validation">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-md-6 col-sm-12 form-group">
                        <input id="id_name" class="form-control" placeholder="Name" required="true" name="name" maxlength="50"/>
                        <div class="invalid-feedback">
                            Please enter a valid display name
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <input id="id_email" class="form-control" placeholder="Email" required="true" type="email" name="email"/>
                        <div class="invalid-feedback">
                            Please enter a valid email
                        </div>
                        <div class="container-fluid p-0">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Your email will not be displayed publicly
                            </small>
                        </div>
                        
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 form-group">
                        <textarea id="id_comment" class="form-control" placeholder="Comment" required="true" name="comment" maxlength="3000"></textarea>
                        <div class="invalid-feedback">
                            Please enter a comment
                        </div>
                    </div>
                </div>
                
                <input id="id_url" placeholder="Website" value="" name="url"/>
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% pageurl page %}" />
                <input class="btn primary-button" type="submit" name="submit" value="Post">
            </form>
        </div>
    </div>

    {% get_comment_list for page as comment_list %}
    <div class="row">

        {% for comment in comment_list %}
            <div class="col-12 mb-2">
                <p class="text-muted mb-0">{{comment.user_name}}</p>
                <p class="text-muted mt-0"> {{comment.submit_date|date:'DATE_FORMAT'}} </p>
                <p class="text-break">
                    {{comment.comment}}
                <p>

                {% if not forloop.last %}
                    <hr />
                {% endif %}
            </div>
        {% endfor %}

    </div>
    
    
</div>
{% endblock %}

{% block subscribe %}{% endblock %}