{% extends "base.html" %}

{% load wagtailcore_tags  wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container-fluid align-items-center">
        <h1 class="header alysa-font">{{ page.title }}</h1>
        <div class="container">
            <div class="row">
                {% for post in blog_entries %}
                    {% with post=post.specific %}
                        <div class="col-md-4 col-sm-6 col-xs-12 mb-2">
                            <div class="card">
                                {% with post.preview_image as main_image %}
                                    {% if main_image %}
                                        {% image main_image original as card_image %}
                                        <img src="{{card_image.url}}" class="card-img-top" />
                                    {% endif %}
                                {% endwith %}
                                
                                <div class="card-body">
                                <h2 class="card-title loraitalic-font"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                                <p class="card-text lora-font">{{ post.intro }}</p>
                                <p class="card-text lora-font">
                                    <i class="fas fa-calendar mr-2"></i>
                                    {{ post.date }}
                                </p>
                                <div class="row">
                                    <div class="col-12 d-flex flex-row flex-wrap">
                                        {% for category in post.categories.all %}
                                            <a href="/blog?category={{ category|urlencode }}" class="tag-link">
                                                <div class="tag loraitalic-font">
                                                    <i class="fas fa-tag mr-1 d-flex align-items-center justify-content-center"></i>
                                                    {{ category }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center py-2">
                <a 
                    class="alysa-font"
                    {% if current_page|add:"-1" > 0 %}
                        href="{% pageurl page %}?page={{current_page|add:"-1"}}"
                    {%endif%}
                    tabindex="-1"
                >
                    <h2 class="m-0">previous</h2>
                </a>
                <span class="seperator mx-3"></span>
                <a 
                    class="alysa-font"
                    {% if current_page|add:"1" <= max_page_index %}
                        href="{% pageurl page %}?page={{current_page|add:1}}"
                    {% endif %}
                    
                >
                    <h2 class="m-0">next</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}