{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WZQVD75');</script>
        <!-- End Google Tag Manager -->

        {# Global stylesheets #}
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/emmadozengrapes.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/emmadozenstyles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZQVD75"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="site-container p-0 d-flex flex-column">
            {% wagtailuserbar %}
            {% include 'navbar.html' %}

            <div class="d-flex flex-column flex-fill">
                {% block content %}{% endblock %}
            </div>

            {% block subscribe %}
                {% include 'blog/subscribe.html' %}
            {% endblock %}

            {% include 'footer.html' %}
        </div>
        
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/emmadozengrapes.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            const clamp = (number, min, max) => {
                return Math.min(Math.max(number, min), max);
            };

            const scaleHeader = (window, navbar, header) => {
                const divisor = header.offset().top;
                if (navbar.hasClass('show') || navbar.hasClass("collapsing")) {
                    header.css('z-index', 1);
                } else {
                    header.css('z-index', 9999);
                }
                var scrollTop = window.scrollTop();
                const scale = clamp((header.offset().top - window.scrollTop()) / divisor, 0.5, 1);
                header.css('transform', 'scale(' + scale + ')');
            };

            $(document).ready(() => {
                const $window = $(window);
                const $header = $(".header:not(.blog-header)");
                const $navbar = $('#navbarNav');
                if ($header.length) {
                    scaleHeader($window, $navbar, $header);
                    $window.scroll(() => scaleHeader($window, $navbar, $header));   
                }
            });
            
        </script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
