{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark blog-navbar">
  <a class="navbar-brand" href="/">
    <img src="{% static 'assets/monogram.png' %}" height="70"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="d-flex flex-row flex-wrap align-items-center px-2" style="width: 100%">
      <div class="d-flex flex-row align-items-center">
        <div class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </div>
        {% comment %} <div class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </div> {% endcomment %}
        <div class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </div>
      </div>
      <div class="d-flex flex-grow-1"></div>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
        <div class="row">
          <div class="col-md-auto col-sm-12 px-md-1">
            <input 
              class="form-control mr-sm-2" 
              type="text" 
              placeholder="Search"
              aria-label="Search"
              name="query"
              {% if search_query %} value="{{search_query}}" {% endif %}
            >
          </div>
          <div class="col-md-auto col-sm-12 px-md-2">
            <button class="btn button-primary my-2 my-sm-0" type="submit">Search</button>
          </div>
        </div>
      
        
        
      </form>
      <div class="navbar-icon-container">
        <a class="btn btn-default" href="https://gitlab.com/kanieckikyle" target="_blank" title="Gitlab">
          <i class="fab fa-gitlab fa-lg" style="color: white"></i>
        </a>
        <a class="btn btn-default" href="https://github.com/KyleKaniecki" target="_blank" title="Github">
          <i class="fab fa-github fa-lg" style="color: white"></i>
        </a>
        <a class="btn btn-default" href="https://www.linkedin.com/in/kylekaniecki" target="_blank" title="LinkedIn">
          <i class="fab fa-linkedin fa-lg" style="color: white"></i>
        </a>
        <a 
          class="btn btn-default"
          href="https://docs.google.com/document/d/1fTKiCgopcyWq0hoGwZSkNF_Io_lstscJ3cQcxI6_5tk/edit?usp=sharing"
          target="_blank"
          title="Well, if you need to use something, might as well have my name on it"
        >
          <i class="fas fa-toilet-paper fa-lg" style="color: white"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}