{% extends "admin/login.html" %}
{% block extrastyle %}
<style>
  #id_otp {
    width: 100%;
  }
</style>
{{block.super}} 
{% endblock %} 
{% block content %} 
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
  {% if form.errors.items|length == 1 %}
  "Please correct the error below."
  {% else %} "Please correct the errors below."
  {% endif %}
</p>
{% endif %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
  {{ error }}
</p>
{% endfor %} 
{% endif %}

<div id="content-main">
  {% if user.is_authenticated %}
  <p class="errornote">
    You are authenticated as {{ username }}, but are not authorized to access
    this page. Would you like to login to a different account?
  </p>
  {% endif %}

  <form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username.errors }} {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password.errors }} {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <div class="form-row">
      {{ form.otp.errors }} {{ form.otp.label_tag }} {{ form.otp }}
    </div>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}">
        'Forgotten your password or username?'
      </a>
    </div>
    {% endif %}
    <div class="submit-row">
      <label>&nbsp;</label><input type="submit" value="Log in" />
    </div>
  </form>
</div>
{% endblock %}
