{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    
    <div class="container">
        <h1 class="header">Search</h1>

        {% if search_results %}
            <div class="row">
                {% for result in search_results %}
                    <div class="col-md-4 col-sm-12">
                        {% include 'blog/blog_card.html' with blog=result %}
                    </div>
                {% endfor %}
            </div>

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            No results found
        {% endif %}
    </div>
{% endblock %}
