{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}
template-homepage
{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
    <h1 class="header alysa-font">
        {{page.title}}
    </h1>
    <div class="container">
        {% for post in recent_blog_posts %}
            {% with post=post.specific %}
                <div class="row mb-5">
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center mb-2">
                            {% image post.preview_image original as card_image %}
                            <img src="{{card_image.url}}" height="auto" width="100%" />
                        </div>
                        <div class="col-md-6 col-sm-12 mb-2">
                            <h2>{{post.title}}</h2>
                            <p class="text-muted mb-1">{{post.date}}</p>
                            <p class="text-muted">{{post.author}}</p>
                            <div class="preview-container">
                                {{post.blog_preview}}
                            </div>
                            <div class="d-flex flex-row pt-2">
                                <a class="btn read-more-button" href="{% pageurl post %}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-sm-12 mb-2 order-md-1 order-2">
                            <h2>{{post.title}}</h2>
                            <p class="text-muted mb-1">{{post.date}}</p>
                            <p class="text-muted">{{post.author}}</p>
                            <div class="preview-container">
                                {{post.blog_preview}}
                            </div>
                            <div class="d-flex flex-row pt-2">
                                <a class="btn read-more-button" href="{% pageurl post %}">
                                    Read More
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center mb-2 order-md-2 order-1">
                            {% image post.preview_image original as card_image %}
                            <img src="{{card_image.url}}" height="auto" width="100%" />
                        </div>
                    {% endif %}
                    
                </div>

                {% if not forloop.last %}
                    <hr />
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
