@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap");

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif !important;
}

.lato-font {
  font-family: "Lato", sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-navbar {
  background-color: teal;
}

.navbar-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

/* Applies only to small screen devices */
@media (max-width: 576px) {
  .navbar-icon-container {
    width: 100%;
  }
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: teal;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag > i {
  margin-right: 2px;
}

.tag > a {
  color: white;
}

.tag > a:hover {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: teal;
  width: 100%;
  min-height: 75px;
  padding: 10px;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  margin-top: 15px;
  margin-bottom: 15px;
}

.subheader {
  text-align: center;
}

.nav-link,
.nav-link:hover {
  text-decoration: none;
  color: white;
}

.button-primary {
  background-color: teal;
  color: white;
}

.button-primary:hover {
  color: white;
}

.code-container {
  overflow-x: auto;
}

.page-link {
  color: teal;
}

.page-link:hover {
  color: teal;
}
