body {
  font-family: Lora-Regular;
}

a {
  color: #cb9b8c;
}

a:hover {
  color: #cb9b8c;
}

a:not([href]) {
  cursor: pointer;
  color: grey;
}

.site-container {
  min-height: 100vh;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 60px;

  padding: 15px;
  background-color: rgb(253 251 251);
  font-family: Lora-Regular;
}

.info-p {
  white-space: pre-line;
}

.email-link {
  color: inherit;
}

.email-link:hover {
  color: black;
  text-decoration: none;
}

.home-card-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  border: none;
}

.home-card {
  cursor: pointer;
}

.home-card:hover {
  border: 1px solid black;
}

.home-card-link {
  text-decoration: none;
  color: inherit;
}

.home-card-link:hover {
  text-decoration: none;
  color: inherit;
}

.seperator {
  flex: 0 0 1px;
  align-self: stretch;
  background-color: grey;
}
